.home {
  // @extend .container;
  margin: 0 !important;
  section {
    @extend .clearfix;
  }
}

// Home Titles
.home-welcome h1,
.home-categories h2,
.merchandising-zone-container h3 {
  position: relative;
  @extend %home-title-size;
  font-weight: $sc-font-weight-light;
  text-transform: uppercase;
  padding-bottom: 0;
  padding: $sc-margin-lv8 0;
  border: none;
  text-align: center;
}

// CMS - Welcome
.home-welcome {
  @extend .container;
  h1 {
    font-weight: $sc-font-weight-light !important;
    strong {
      font-weight: $sc-font-weight-semibold;
    }
  }
}

// CMS - Banners
.home-banner-main {
  @extend .container;
  .home-banner-main-cell {
    display: inline-block;
    margin-bottom: $sc-margin-lv6;
    @media (max-width: $screen-xs-min) {
      margin-bottom: $sc-margin-lv4;
      padding: 0;
    }
  }
  .home-banner-main-cell-bg {
    width: 100%;
    overflow: hidden;
    background: none;
    position: relative;
    img {
      float: left;
      width: 100%;
      border: 0;
      max-width: 100%;
      height: auto;
    }
  }
  .home-banner-main-info-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: $sc-padding-lv4;
    width: 100%;
    .title {
      color: rgb(255, 255, 255);
      font-size: $sc-font-size-xxxl;
      font-weight: $sc-font-weight-semibold;
      line-height: $sc-font-size-xxxl;
      text-transform: uppercase;
      padding-bottom: $sc-padding-lv1;
      @media (max-width: $screen-lg-min) {
        font-size: $sc-font-size-xxl;
        line-height: $sc-font-size-xxl;
      }
      @media (max-width: $screen-md-min) {
        font-size: $sc-font-size-xl;
        line-height: $sc-font-size-xl;
      }
    }
    .text {
      padding: $sc-padding-lv2;
      background: rgba(0, 0, 0, 0.6);
      color: rgb(255, 255, 255);
      width: 40%;
      text-transform: uppercase;
      font-weight: $sc-font-weight-normal;
      font-size: $sc-font-size-m;
      @media (max-width: $screen-md-min) {
        display: none;
      }
    }
  }
  .bottom-link {
    span {
      height: 40px;
      display: block;
      width: calc(100% - 40px);
      background: #50ffb1;
      text-align: right;
      line-height: 40px;
      padding-right: $sc-padding-lv3;
      float: left;
      color: black;
      text-transform: uppercase;
    }
    i {
      @extend .icon-angle-right;
      display: block;
      float: right;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      font-size: $sc-font-size-l;
    }
  }
}

// CMS - Home Categories
.home-categories {
  @extend .container;
  .categories-container {
    a {
      display: block;
      text-align: center;
    }
    img {
      border: 0;
      max-width: 100%;
      height: auto;
    }
    h4 {
      font-weight: $sc-font-weight-normal;
      margin-top: $sc-margin-lv2;
    }
    @media (max-width: $screen-md-min) {
      margin-bottom: $sc-margin-lv6;
    }
    @media (max-width: $screen-xs-min) {
      padding: 0;
      &:last-of-type {
        margin-bottom: $sc-margin-lv2;
      }
    }
  }
}

.home {
  @extend .container;
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  // margin-top: $sc-margin-lv4;
  // margin-bottom: $sc-margin-lv4;
  @extend .row;
}

.home-image-slider {
  @extend .col-sm-12;
}

// start bx-slider specifics
$sc-image-slider-height: 400px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;
.home-image-slider .bx-wrapper {
  margin-bottom: $sc-margin-lv8;
}

.home-image-slider .bx-pager-item {
  vertical-align: middle;
}

.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-margin-lv2;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  // height: $sc-image-slider-height !important;
  height: auto;
}

.home-image-slider .bx-viewport ul li {
  overflow: hidden;
}

.home-image-slider .bx-wrapper .home-slide-image-container {
  margin: auto 0;
  margin-top: 100px;
  float: none;
  @media (min-width: $screen-sm-min) {
    max-width: $sc-image-slider-max-width !important;
    float: right;
    margin: 0 $sc-margin-lv1 * 12 0 0;
    width: 350px;
    padding: $sc-margin-lv6;
  }
}

.home-gallery-prev-icon,
.home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color: $sc-color-theme-500;
}

.home-gallery-prev-icon {
  left: 30px;
  @extend .icon-angle-left;
}

.home-gallery-next-icon {
  right: 30px;
  text-align: right;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {
  a {
    color: $sc-color-theme-500 !important;
    background-color: $sc-color-theme-500 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size: 0;
    text-indent: -9999px;
  }
  a.active {
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {
  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-margin-lv4;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}

// end bx-slider specifics
.home-banner-main {
  margin-bottom: $sc-margin-lv4;
  @extend .row;
}

.home-banner-main-cell-nth0 {
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align: center;
  margin-bottom: $sc-margin-lv4;
  img {
    margin: auto;
    float: left;
    @media (min-width: $screen-sm-min) {
      max-width: 100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}

.home-banner-main-cell-bg {
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text {
  display: inline-block;
  color: $sc-color-theme-700;
  font-size: $sc-font-size-xl;
  text-transform: uppercase;
  font-weight: $sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.home-merchandising-zone {
  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
    display: none;
  }
  .item-cell-main-image {
    margin: 0 auto;
    width: $img-medium;
  }
}

.home-slide-main-container {
  background: $sc-color-theme-background;
  overflow: hidden;
  height: 400px;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    height: 100%;
  }
}

.home-slide-caption {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: $sc-margin-lv2;
  height: 80%;
  @media (min-width: $screen-sm-min) {
    width: 50%;
    padding: $sc-padding-lv8 $sc-padding-lv1 * 12;
    padding-right: 0px;
    text-align: left;
    height: auto;
    position: relative;
  }
  h2.home-slide-caption-title {
    margin-bottom: $sc-margin-lv2;
    font-size: $sc-font-size-m * 2.66;
    line-height: $sc-font-size-m * 2.66;
    color: $sc-color-secondary;
    @media (min-width: $screen-sm-min) {
      margin-bottom: $sc-margin-lv4;
    }
  }
  p {
    display: none;
    @media (min-width: $screen-xs-min) {
      display: block;
      margin-bottom: $sc-margin-lv4;
      color: $sc-color-theme-700;
      font-size: $sc-font-size-xl;
      text-transform: uppercase;
      font-weight: $sc-font-weight-light;
    }
    @media (min-width: $screen-sm-min) {
      font-size: $sc-font-size-xl;
    }
  }
  .home-slide-caption-button-container {
    padding-left: $sc-padding-lv4;
    padding-right: $sc-padding-lv4;
    position: absolute;
    margin-left: -$sc-padding-lv1 * 2;
    bottom: -60px;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      bottom: 0px;
    }
  }
  .home-slide-caption-button {
    @extend .button-primary;
    @extend .button-large;
    @media (min-width: $screen-xs-min) {
      width: auto;
      position: relative;
    }
  }
}

​ .bottom-link {
  span {
    height: 40px;
    display: block;
    width: calc(100% - 40px);
    background: #50ffb1;
    text-align: right;
    line-height: 40px;
    padding-right: $sc-padding-lv3;
    float: left;
    color: black;
    text-transform: uppercase;
  }
}

#home-page {
  .bx-pager {
    position: relative !important;
    top: 20px;
    .bx-pager-link {
      background-color: #3c896d !important;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }
}

.home-image-slider .bx-controls .bx-pager {
  margin-top: 10px;
  width: 100%;
}

.home-gallery-prev-icon,
.home-gallery-next-icon {
  color: #3c896d !important;
  &:hover {
    color: #50ffb1 !important;
  }
}

//Default home ^^^^

//Custom home Joaquin
.home-page-wrapper {
  background-color: #0d0d11;
  //background-image: url("https://uploads-ssl.webflow.com/5e7cc9740363e223f641d706/5eaf0d02b41a946221bd3c00_web-bg-dark4.jpg");
  background-position: 0px 0px;
  background-size: 333px;
  margin: 0;
  z-index: 3000;
  -webkit-font-smoothing: antialiased;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.home-page-wrapper .main-text > h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  letter-spacing: 6px;
  opacity: 1;
  text-transform: none;
  font-family: "Merriweather", sans-serif;
}
.home-page-wrapper .main-text {
  text-align: center;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.home-page-wrapper .vertical-white-line {
  height: 48px;
  background: linear-gradient(to top, rgb(126, 125, 125) 50%, white 50%);
  background-size: 1px 96px;
  background-position: 0 100%;
  width: 1px;
  cursor: pointer;
  animation: whiteLineAnimation 8s ease-out infinite 1s;
}
#attached-bg-special-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 335px;
  position: absolute;
  height: 100%;
  z-index: 3000;
  opacity: 1;
}
.home-page-wrapper .attached-bg-special-1 {
  z-index: 2;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 80%;
  max-width: 100% !important;
}
.home-page-wrapper .attached-bg-special-2 {
  width: 0%;
  height: 100%;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  right: -85%;
  z-index: 3;
  position: absolute;
  max-width: 185%;
}
@keyframes whiteLineAnimation {
  0% {
    background-position: 0% 100%;
  }
  30% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  60% {
    background-position: 0% 0%;
  }
  80% {
    background-position: 0% -100%;
  }
  100% {
    background-position: 0% -100%;
  }
}
.home-page-wrapper .after-effects-content {
  overflow: hidden;
  margin: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  margin-top: 3000px;
  z-index: 3007;
  opacity: 1;
}
.home-page-wrapper .after-effects-content .white-main-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 195px;
}
.home-page-wrapper .after-effects-content .white-main-text h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  color: white;
  letter-spacing: 0.1px;
  text-align: center;
  opacity: 1;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}
.home-page-wrapper .after-effects-content .white-main-text p {
  max-width: 810px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 10px;
  color: white;
  letter-spacing: 0.3px;
  text-align: center;
  opacity: 1;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}
.home-page-wrapper .home-title-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page-wrapper .home-title-collection h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  letter-spacing: 6px;
  opacity: 1;
  text-transform: none;
  font-family: "Merriweather", sans-serif;
}
.home-page-wrapper .home-title-collection p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 700px;
  margin-top: 15px;
  color: #c3c7cb;
  text-align: center;
  letter-spacing: 0.3px;
  opacity: 1;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}
.home-page-wrapper .home-images-banners {
  margin-top: 55px;
  margin-bottom: 110px;
  padding: 0 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.home-page-wrapper .home-image-banner a {
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home-page-wrapper .home-image-banner h2 {
  position: absolute;
  text-align: center;
  text-decoration: none;
  margin: 0;
  top: 80%;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 900;
  line-height: 30px;
  color: rgb(250, 20, 20);
  letter-spacing: normal;
  opacity: 1;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1514px) {
  .home-page-wrapper .after-effects-content {
    margin-top: 2500px;
  }
}
@media (max-width: 1200px) {
  .home-page-wrapper .after-effects-content {
    margin-top: 2200px;
  }
  .home-page-wrapper .after-effects-content .white-main-text h1 {
    font-size: 40px;
    font-weight: 500;
  }
  .home-page-wrapper .after-effects-content .white-main-text p {
    margin: 0 20px;
  }
  .home-page-wrapper .attached-bg-special-2 {
    right: -105%;
    max-width: 205%;
  }
  .home-page-wrapper .home-images-banners {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1vw;
  }
}
@media (max-width: 842px) {
  .home-page-wrapper .attached-bg-special-2 {
    right: -155%;
    max-width: 255%;
  }
  .home-page-wrapper .home-image-banner h2 {
    font-size: 24px;
  }
  .home-page-wrapper .home-title-collection h1 {
    font-size: 16px;
  }
  .home-page-wrapper .home-title-collection p {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .home-page-wrapper .after-effects-content {
    margin-top: 2100px;
  }
  .home-page-wrapper .after-effects-content .white-main-text h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .home-page-wrapper .after-effects-content .white-main-text p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
  }
}
@media (max-width: 500px) {
  .home-page-wrapper .after-effects-content {
    margin-top: 1700px;
  }
  .home-page-wrapper .attached-bg-special-2 {
    right: -185%;
    max-width: 285%;
  }
  .home-page-wrapper .home-images-banners {
    grid-template-columns: 1fr 1fr;
    padding: 0 1vw;
    margin-bottom: 170px;
  }
}
